@use '../../../pages/form.shared.scss' as form;

.form-group {
  margin-bottom: 7px;
  .form-text { @include form.error-styles }  
  div {
    position: relative;
    input {
      &::-ms-reveal,
      &::-ms-clear { display: none; }
      &[placeholder="Name"] {
        text-transform: capitalize;
      }
      &[placeholder="Username"] {
        &:not(:placeholder-shown) {
          text-transform: lowercase;
        }
      }
    }
    i {
      position: absolute;
      top: 0; right: 0;
      padding: 10px;
    }
  }
}