.form-group {
  margin-bottom: 7px;
  .form-text {
    background-color: #fd7a87;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 0 0 5px 0;
  }
  div {
    position: relative;
    input {
      &::-ms-reveal,
      &::-ms-clear { display: none; }
      &[placeholder="Name"] {
        text-transform: capitalize;
      }
    }
    i {
      position: absolute;
      top: 0; right: 0;
      padding: 10px;
    }
  }
}