@mixin error-styles {
  background-color: #fd7a87;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin: 0 0 5px 0;
};

.form {
  width: 95vw;
  max-width: 450px;
  padding: 10%;
  display: grid;
  .form-header {
    color: white;
    text-align: center;
    h4 {
      margin-bottom: 0;
      line-height: .75;
    }
  }
  .password-input {
    position: relative;
    margin-bottom: 2.5px;
    i {
      position: absolute;
      top: 0;
      right: 0;
      padding: 11px;
    }
  }
  a {
    text-align: center;
    color: #ccc;
    margin-top: 10px;
  }
  .form-text { @include error-styles }
}
