<form class="form logup-form" [formGroup]="logupForm">
  <div class="form-header">
    <h4>Logup</h4>
    <p>Complete to create your user</p>
  </div>
  <div class="form-group">
    <app-errors-displayer
      *ngIf="logupForm.get('name')?.dirty && logupForm.get('name')?.errors as errors"
      [validationErrors]="errors"></app-errors-displayer>
    <input
      type="text"
      class="form-control"
      placeholder="Name"
      formControlName="name"
    />
  </div>
  <input
    type="text"
    class="form-control"
    placeholder="Username"
    formControlName="username"
  />
  <input
    type="email"
    class="form-control"
    placeholder="Email"
    formControlName="email"
  />
  <div class="password-input">
    <input
      [type]="showpwd ? 'text' : 'password'"
      class="form-control"
      placeholder="Password"
      formControlName="password"
    />
    <i class="fas fa-eye" *ngIf="!showpwd" (click)="showpwd = true"></i>
    <i class="fas fa-eye-slash" *ngIf="showpwd" (click)="showpwd = false"></i>
  </div>
  <button class="btn btn-primary" [disabled]="logupForm.invalid">Submit</button>
  <a routerLink="/login"> Already registered? </a>
</form>
