<form class="form login-form">
  <div class="form-header">
    <h4>Login</h4>
    <p>Fill the form with your credentials</p>
  </div>
  <app-form-input
    placeholder="Username"
    [fieldControl]="loginForm.get('uoe')"
    fieldControlName="username"
    regex="^[a-z0-9_]*$"></app-form-input>
  <app-form-input
    type="password"
    placeholder="Password"
    [fieldControl]="loginForm.get('password')"
    fieldControlName="password"></app-form-input>
  <button class="btn btn-primary">Continue</button>
  <a routerLink="/logup">
    Not registered yet?
  </a>
</form>